{% load crispy_forms_tags %}
{% block head_extra %} 

  {{ form.media }}

{% endblock head_extra %}

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>New startapp-About</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light justify-content-between bg-dark">

  <a style="color: white;" class="navbar-brand logomy">
  <i class="fas fa-code"></i>Coder
  </a>

  <div class="form-group" style="height: 20px;">

  <select class="form-control" id="sel1">
    <option>Russian</option>
    <option>English</option>
  </select>
</div>
</nav>
    </header>

    <section class="categories">
    
      <div class="container-fluid">
        <div class="row">
            
          <div class="col-lg-2 col-md-12 categori" 
          style="background-color: #f0f4f7;">
          <div style="margin-top: 40px;"></div>
          
            <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/"><i class="fas fa-home"></i>Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/forum/"><i class="fas fa-comment"></i>Форум</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about/"><i class="fas fa-envelope"></i>Контакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/uslugi/"><i class="fas fa-question-circle"></i>Услуги</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-angle-double-right"></i>Ещё</a>
  </li>

</ul>
  <hr>


      <ul class="nav flex-column">
  
      {% if request.user.is_authenticated %}
    <li class="nav-item">
    <a class="nav-link usercateg" href="">
    {{ user.get_full_name }}
    </a>
        </li>
        {% else %}

      <li class="nav-item">
    <a class="nav-link usercateg" href="">
    Пользователь
    </a>
        </li>
        {%  endif%}


{% if request.user.is_authenticated %}
        <li class="nav-item">
    <a class="nav-link" href="/kabinet/"><i class="fas fa-user"></i>
    Личный кабинет
    </a>
        </li>

        <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-share-square"></i>
    Подписки
    </a>
        </li>

        <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-cog"></i>
    Настройки
    </a>
        </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>
    Выйти
    </a>
        </li>
        {% else %}
        <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">
    <i class="fas fa-database"></i>
    Регистрация
    </a>
        </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
    <i class="fas fa-sign-in-alt"></i>
    Войти
    </a>
        </li>

        {% endif %}
    </ul>
  <hr>

          </div>
            
           <!--  About, forms -->
          <div class="col-lg-10 col-md-10">
             <div class="page-wrapper">
                <section class="h-100vh pt-5">
                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">

                                <div class="row justify-content-center">
                                    <!-- Content-->
                                    <div class="col-8">

                                        <!-- Post-->
                                        <article class="post formamy img-fluid">
                                            <h5 class="text-center mt-0 mb-5 pb-3 text-uppercase"><b>
                                              Форма
                                            </b></h5>

                                            <form action="#" method="post" 
                                            class="mt-4" 
                                            enctype='multipart/form-data'>
                                            {% csrf_token %}

                                            
                                                
                                              
                                              <div class="row">
                                                    <div class="col-sm-12">
                                                        <div 
                                                        class="form-group formmycredit">
                                                            {{ form|crispy }}
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="row postcreate">
                                                    <div class="col-sm-12">
                                                        <div class="form-group text-right">
                                                            <button name="submit" type="submit" id="submit" class="btn btn-dark">Create Question
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </article>
                                        <!-- Post end-->

                                    </div>
                                    <!-- Content end-->

                                </div>

                            </div>
                            <!-- end container -->
                            <br><br><br><br><br><br>
                        </div>
                    </div>
                </section>

            </div>
        </div>
      

    </section>
    
    <footer class="footermy">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <p class="footerp">
              Дизайни и Разработка - Aren Atabekyan 
              </p>
            </div>
            <div class="col-lg-8 col-md-8"></div>
          </div>
        </div>
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>